/* ================================================== */
/* General Styling  */
/* ================================================== */
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    line-height: 1.6;
}

h1,h2,h3,h5,p{
    margin: 0;
}

p{
    font-size: 14px;
}


a {
    text-decoration: none;
    color: inherit;
}

section{
    margin-top: 3em;
}


.pink-text{
    color: #F94B71;
}

.purple-text{
    color: #4772d9 ;
}

#overlay{
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
}
/* General Section Related Styling */
.pad-content{
    padding: 0 1.5rem;
}

@media(min-width:500px){
    p{  
        font-size:18px;
    }
    .pad-content{
        padding: 0 3.1em;
    }
}

@media(min-width:768px){
    .pad-content{
        padding: 0 6.25em;
    }
}

@media(min-width:1000px){
    .pad-content{
        padding: 0 7.8125em;
    }
}

.section-title{
    font-size: 3.5rem;
    margin-bottom: 0.2em;
}

.section-subtitle-wrapper{
    display:flex;
    justify-content: flex-start;
    margin-bottom: 2.2em;
}


.section-title-divider{
    height:4px;
    width: 130px;
    background: #F94B71;
}

.section-subtitle{
    font-size: 14px;
    color: #8D8A8A;
    margin-left: 0.5em;
    font-weight:500;
    margin-top: -0.5em;
}

@media(min-width:500px){
    .section-title{
        font-size:3em;
    }

    .section-subtitle{
        font-size: 14px;
    }

    .section-title-divider{
        width:110px;
    }
}

/* ================================================== */
/* Header-Related Styling   */
/* ================================================== */
 .header{
    position:absolute;
    padding: 0.5rem 1rem;
    background-color: #313131;
    width:100vw;
    z-index:3;
    transition: background-color 0.3s linear 0.3s;    
}

.header.open{
    background-color:#FAFAFF;
    transition: background-color 0.3s linear;
    position:fixed;
}

#header-logo{
    font:normal 30px Cookie;
    color:#FAFAFF;
    transition: color 0.2s linear 0.3s;
}

#hamburger{
    position: absolute;
    font-size: 44px;
    top: -0.5rem;
    right: 0.7rem;
    color:#FAFAFF;
    z-index:3;
    transition: color 0.2s linear 0.1s;
}

#hamburger:hover{
    color: #F94B71;
}

#hamburger.open{
    position:fixed;
}

.open #header-logo, #hamburger.open{
    color:#313131;
    transition: color 0s linear;
}

/* Styles adapted from https://cade.codes */
.nav-links{
    position:fixed;
    background-color:#FAFAFF;
    Width: 100vw;
    z-index:2;
    list-style:none;
    padding-inline-start:0;
    font-size:44px;
    font-weight:700;
    color:#fafaff;
    text-shadow:-1px -1px 0 #313131, 1px -1px 0 #313131, -1px 1px 0 #313131, 1px 1px 0 #313131;
    padding: 3rem 1rem;
    margin:0;
    transform: translateY(-100vh);
    transition: transform 0.4s ease 0.2s;
}

.nav-links li{
    margin: 0.5em 0em;
}

.nav-links li:hover{ 
    color: #F94B71;
}

.nav-links.open{
    visibility:visible;
    transform:translateY(0);
}

/* ================================================== */
/* Jumbotron Styling                                  */
/* ================================================== */
.jumbotron-container{
    z-index:0;
}

#jumbotron{
    background-color: #313131;
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: row;
    align-items:center;
}

#jumbotron p{
    color:#D1D1D1;
    margin: 1.6em 0;
    width: 90%;
}

#jumbotron button {
    border-radius: 4px;
    background-color: #4772d1;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    padding: 1.2em;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

#jumbotron button span {
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}

#jumbotron button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#jumbotron button:hover span {
    padding-right: 25px;
}

#jumbotron button:hover span:after {
    opacity: 1;
    right: 0;
}

#cmd {
    color: #FAFAFF;
    font-size:3.5em;
    line-height:1;
}

#jumbotron-salutation {
    font-size:1.5em;
    font-weight:500;
}

.jumbotron-image{
    display:none;
}

#cmd-cursor{
    display:none;
}


/* display the command line blinking cursor */
@media(min-width:340px){
    #cmd-cursor{ display: inline; }
}

@media(min-width:500px){
    #hamburger{
        right:1.5rem;
    }

    #jumbotron-salutation{
        font-size: 2em;
    }
    #cmd{
        font-size:5em;
    }
    #jumbotron button{
        font-size:18px;
        width: 200px;
    }

}

@media(min-width:900px){
    .jumbotron-container{
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        width:100%;
        align-items:center;
    }

    .jumbotron-image{
        display: block;
        max-width:300px;
        max-height:300px;
        width: auto;
        height: auto;
        align-self:center;
        flex:2;
        margin:0;
    }
}

@media(min-width:1200px){
    .jumbotron-image{
        max-width:400px;
        max-height:400px;
    }
}

/* ================================================== */
/* Experience Section                                 */
/* ================================================== */

.timeline-title-elements{
    font-size: 20px;
    margin-bottom: 2rem;
}

.timeline-container{
    width:100%;
}

.timeline{
    position:relative;
}

.timeline:before{
    content: '';
    height:90%;
    width: 3px;
    position:absolute;
    background-color: #D1D1D1;
    top:10px;
    left:0;
}

.timeline ul{
    list-style:none;
    padding: 20px;
}

.timeline ul li{
    margin-bottom: 5rem;
    padding: 10px;
    position:relative;
}

/* 
    Note:

    This is the timeline "ball". To put this at the corner, make sure the parent (the 
    li) has position: relative. That way, we can position this ball as absolute and it
    will be absolute relative to its parent. Now we set top and left to be at 0 so that
    it is at the beginning of the li container. Now, make sure that we translate so 
    that it sits on the outer corner.
    
    To make it fit the timeline, we translate it 
*/
.timeline ul li::after{
    content: '';
    position: absolute;
    height: 12px;
    width: 12px;
    background-color: #F94B71;
    border-radius:20px;
    top:0;
    left:-19px;
    transform:translate(-50%, -50%);
    z-index:1;
  }

  .timeline ul li::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #FFF;
    border:2px solid #F94B71;
    border-radius:20px;
    top:0;
    left:-19px;
    transform:translate(-50%, -50%);
    z-index:1;
  }

.timeline-entry .timeline-entry-title{
    font-weight: 500;
    font-size:25px;
    color:#313131;
}

.timeline-entry .timeline-entry-date{
    font-weight: 500;
    font-size:14px;
    color:#4772d1;;
    margin: 0.3rem 0;
}

.timeline-entry button{
    border: 2px solid #F94B71;
    background-color: #fff;
    font-weight:600;
    color:#F94B71;
    padding: 10px 20px;
    transition: all 0.25s linear;
}

.timeline-entry button:hover{
    border: 2px solid #F94B71;
    background-color: #F94B71;
    color:#FFF;
}