/* --- General Styles ---  */

*{
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    line-height: 1.6;
}

h1,h2,h3,h5,p{
    margin: 0;
}

p{
    font-size: 14px;
}


a {
    text-decoration: none;
    color: inherit;
}

.pink-text{
    color: #F94B71;
}

.purple-text{
    color: #4772d9 ;
}

.pad-content{
    padding: 0 1.5rem;
}

@media(min-width:500px){
    p{  
        font-size:16px;
    }
    .pad-content{
        padding: 0 3.1em;
    }
}

@media(min-width:768px){
    .pad-content{
        padding: 0 6.25em;
    }
}

@media(min-width:1000px){
    .pad-content{
        padding: 0 9.375em;
    }
}



/* --- Header Related Styles --- */
.container {
    background: #313131;
	width: 100vw;
    max-width: 100%;
    color: #fefefe;
}

.main-header{
    position:absolute;
}

.main-header .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.main-nav-list{
    display:none;
    /* start tests */
    background: black;
    /* end tests */
    z-index: 1;
    list-style: none;
    padding-left: 1.2em;
    margin:0;
}

.main-nav-list li{
    padding-top: 1em;
    padding-bottom: 1em;
}

#header-logo{
    font:normal 30px Cookie;
    color: #fefefe;
    margin: 0;
    padding: 0.2em 0 0.2em 0.5em;
}

.mobile-menu {
    font: normal 30px Poppins;
    color: #fefefe;
    position: absolute;
    right: 0;
    top:0;
    padding-right: 0.5em;
}

/* --- Media Query on the iPad width --- */
@media(min-width: 768px) {

    .mobile-menu {
        display: none;
    }

    .main-nav-list{
        /* Start tests */
        position: relative;
        display:block; 
        background: #313131;
        float:right; /* Right Align the list items.*/
        /* End tests */
    }

    /* main-nav is the parent container of the list
    This is set to 70% of the entire header.
    */
    .main-nav{
        width: 70%;       
    }

    .main-nav li {
        display:inline;
        margin-right: 1.5em;
    }
    .main-header .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

/* --- Jumbotron (Hero) Related Styling --- */
#jumbotron{
    background-color: #313131;
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: row;
    align-items:center;
}

#jumbotron p{
    color:#FAFAFF;
    margin: 1.6em 0;
}

#cmd {
    color: #FAFAFF;
    font-size:3.5em;
    line-height:1;
}
#jumbotron-salutation {
    font-size:1.5em;
    font-weight:500;
}

.resume-button{
    background: #4772d9;
    font-weight: 600;
    font-size: 13px;
    border: #fff;
    color: #fefefe;
    margin-top:1.2em;
    padding: 1em;
    border-radius: 3px;
}

.jumbotron-image{
    display:none;
}

#cmd-cursor{
    display:none;
}


@media(min-width:420px){
    #cmd-cursor{ display: inline; }
}

@media(min-width:500px){
    #jumbotron-salutation{
        font-size: 2em;
    }
    #cmd{
        font-size:4.6em;
    }
}

@media(min-width:900px){
    .jumbotron-container{
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        width:100%;
        align-items:center;
    }

    .jumbotron-image{
        display: block;
        max-width:300px;
        max-height:300px;
        width: auto;
        height: auto;
        align-self:center;
        flex:2;
        margin:0;
    }
}

@media(min-width:1200px){
    .jumbotron-image{
        max-width:400px;
        max-height:400px;
    }
}
