/* 
Global Settings

These settings apply to the entire document
*/
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


a {
    text-decoration: none;
}



/* This is to make the body of the page not span the entire width */
.content-wrapper{
    width: 80vw;
}


/* 
Header-related styling 
*/
.container {
    background: #313131;
	width: 100vw;
	max-width: 100%;
    margin: 0 auto;
    padding: 0;
    border: 2px solid red;
}


.main-header .container {
    display: flex;
    flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.main-header .container h1 {
    color: #fefefe;
	float: left;
	font: normal 28px Cookie;
    line-height: 40px;
    margin-left: 0.5em;
    border: 2px solid blue;
}


.main-nav ul {
	margin: 1em 0 .5em;
	text-align: center;
}
.main-nav li {
	display: inline;
}
.main-nav a {
	display: inline-block;
    padding: .5em 1.5em;
}

header a{
    color: #fefefe;
}


/* 
Jumbotron Styling
*/
#jumbotron {
    background: #313131;
    width: 100vw;
    height: 420px;
    display: flex;
    justify-content: center;
    color: #fefefe;
}

#jumbotron-salutation {
    font-size: 1.5em;
    margin-top: 2.5em;
    margin-bottom:0;
}

.pink-text{
    color:#F94B71;
}

#cmd{
    /* font-family: "Ubuntu", sans-serif; */
    font-weight: 400;
    margin:0;
    font-size:4.5em;
    color: #fefefe;
}

.resume-button{
    background: #4772d9;
    font-weight: 700;
    border: #fff;
    color: #fefefe;
    margin-top:1.5em;
    padding: 1.0em;
    border-radius: 3px;
}

.resume-button:hover{
    background: #A3B8EC;
    transition: 0.5s;
    
}
