<section id="about-me" class="pad-content">
    <h2 class="section-title"> About Me </h2>
    <div class="section-subtitle"> 
        <div></div>
        <p> Just a Little About Myself</p>
    </div>
    <div class="about-container">
        <img class="main-photo" src="images/gabbybermudez.jpg"/>
        <div class="bio">
            <h3> Hey! How's It Going?</h3>
            <p>I am Gabby. I am a developer based in Toronto, Ontario. I graduated from Queen's University where I took Computing and Mathematics.</p>
            <p> I like being involved in ALL parts of software. Accordingly, my long-term goals in the industry lie with big picture concepts such as <span class="pink-text">Systems Design </span> and <span class="pink-text">Architecture</span>.</p>
            <p>I still love all forms of software development in my free time. If you have a project idea or want to just want to chat with me, feel free to reach out!</p>
        </div>
    </div>
  
</section>