<section id="experience" class="pad-content">
    <h2 class="section-title"> Experience </h2>
    <div class="section-subtitle-wrapper"> 
        <div class="section-title-divider"></div>
        <p class="section-subtitle"> My Awesome Journey</p>
    </div>
    <i class="las la-code timeline-title-elements"></i>
    <h4 class="timeline-title-elements" style="display:inline-block">Work Experience </h4>


    <!-- <div class="timeline">
        <div class="timeline-entry"> 

        </div>
    </div> -->
</section>