<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title> Gabby Bermudez ✌️ </title> 
    <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet"/>
    <link href="images/gabby-bermudez-favicon.png" rel="icon" type="image/png"/>
    <!-- LineAwesome Icons -->
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="keywords" content="Gabby Bermudez, Queen's University, Software Developer, AWS, DevOps, Web Development, Systems Engineer" >
    <meta name="description" content="Gabby Bermudez is developer and systems engineer from Toronto, Canada. His areas of interest include Web and Mobile Development, DevOps, and AWS Cloud Technologies">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://gabbybermudez.me" />
    <meta property="og:title" content="Gabby Bermudez" />
    <meta property="og:description" content="Gabby Bermudez is developer from Toronto, Canada. His areas of interest include Web and Mobile Development, DevOps, and AWS Cloud Technologies" />
    <meta property="og:image" content="images/jumbotron_image.png" />
</head> 

