<head>
    <meta charset="UTF-8" />
    <title> Gabby Bermudez </title> 
    <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/index.css" rel="stylesheet"/>
    <meta content="Gabby Bermudez is developer from Toronto, Canada. His areas of focus include Web and Mobile Development, DevOps, and AWS Cloud Technologies" name=description>
</head>

