<div id="jumbotron" class="pad-content"> 
    <div class="jumbotron-container">
        <div class="jumbotron-text">
            <div id="jumbotron-salutation" class="pink-text"> Hello there! My name is  </div>
            <h1 id="cmd"> > <span id="cmd-type"></span> <span id="cmd-cursor">_</span> </h1>
            <p> I am a developer and systems engineer. I like building all forms of web and mobile applications.</p>
            <p> Currently Learning:  <span class="pink-text">AWS</span> and <span class="pink-text">DevOps</span> Methodologies.</p>
            <button class="resume-button"> View My Resume </button>            
        </div>
        <img class="jumbotron-image" src="images/jumbotron_image.png">
    </div>
</div>
