<div id="jumbotron"> 
    <div class="content-wrapper">
        <p id="jumbotron-salutation" class="pink-text"> Hello there! My name is  </p>
        <p id="cmd"> > <span id="cmd-type"></span> <span id="cmd-cursor">_</span> </p>
        <p> I am a <span class="pink-text">developer</span> and <span class="pink-text">analyst</span>. I like building all forms of web and mobile applications</p>
        <p> Current Ares of Interest:  <span class="pink-text">AWS</span> and <span class="pink-text">DevOps</span> Methodologies</p>
        <button class="resume-button"> View My Resume </button>
</div>
