<div id="projects-wrapper">
    <section id="projects" class="pad-content">
        <h2 class="section-title"> Projects </h2>
        <div class="section-subtitle"> 
            <div></div>
            <p> Things I Like Working On</p>
        </div>
        <!-- <ul>
            <li class="list" data-filter="all">All</li>
            <li class="list" data-filter="web-development">Web Development</li>
            <li class="list" data-filter="full-stack-development">Full Stack Development</li>
            <li class="list" data-filter="implementation">Implementation / Systems Design</li>            
        </ul> -->
        <div class="project-gallery">
            {{range $index, $element := .Site.Data.projects}}
            <div>
                <div class="gallery-item grow" style="background-image:url('images/{{ .thumbnail }}')"></div>
                <h3 style="color:#F94B71;"> {{ .name }}</h3>
                <h4> Web Development </h4>
            </div>
            {{end}}
        </div>

    </section>
</div>
